{{>top}}
    {{>navbar}}
    <!-- main header -->
    <main class="container h-75">
        <section class="my-5 h-100 bg-dark border border-3 border-danger rounded-5 text-white">
            <div class="row h-75 p-4 align-items-end">
                <!-- left side div -->
                <div class="col-12 col-md-6 h-75 ps-5 main_header_left">
                    <div class="lead mt-5 mb-2">This site can’t be reached</div>
                    <h6 class="display-6 mb-5">Check if there is a typo <span class="text-danger">Error </span>in within link.</h6>
                    <a class="btn btn-outline-danger border-2 fw-bolder" href="/">back to Home</a>
    
                </div>
                <!-- right side div -->
                <div class="col-12 col-md-6 main_header_right">
                    <i class="bi bi-exclamation-octagon-fill text-danger"></i>
                </div>
            </div>
        </section>
    </main>
    {{>footer}}
{{>bottom}}