{{>top}}
    {{>navbar}}
    <!-- main header -->
    <main class="container h-75">
        <section class="my-5 h-100 bg-dark border border-3 border-warning rounded-5 text-white">
            <div class="row h-75 p-4 align-items-end">
                <!-- left side div -->
                <div class="col-12 col-md-6 h-75 ps-5 main_header_left">
                    <div class="lead mt-5 mb-2">Welcome to weather app</div>
                    <h6 class="display-6 mb-5">Get The Latest <span class="text-warning">Weather </span>Info of you city.</h6>
                    <a class="btn btn-outline-warning border-2" href="/weather">Check Now</a>
    
                </div>
                <!-- right side div -->
                <div class="col-12 col-md-6 main_header_right">
                    <i class="bi bi-droplet-half"></i>
                </div>
            </div>
        </section>
    </main>
    {{>footer}}
{{>bottom}}